/** IMPORT GOTHAM **/
@font-face {
    font-family: 'Gotham-Bold';
    src: url(Gotham-Bold.ttf) format('truetype'),
    url('Gotham-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham-Book';
    src: url(Gotham-Book.ttf) format('truetype'),
    url('Gotham-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham-Light';
    src: url(Gotham-Light.ttf) format('truetype'),
    url('Gotham-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/** IMPORT THIRSTY **/
@font-face {
    font-family: 'ThirstyScriptRegular';
    src: url(ThirstyScriptRegular.otf),
    url('ThirstyScriptRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ThirstyScriptLight';
    src: url('ThirstyScriptLight-webfont.woff2') format('woff2'),
    url('ThirstyScriptLight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/** IMPORT FONTAWESOME **/
@font-face {
    font-family: 'FontAwesome';
    src: url('Fontawesome/fontawesome-webfont.eot?v=4.6.3');
    src: url('Fontawesome/fontawesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype'), url('Fontawesome/fontawesome-webfont.woff2?v=4.6.3') format('woff2'), url('Fontawesome/fontawesome-webfont.woff?v=4.6.3') format('woff'), url('Fontawesome/fontawesome-webfont.ttf?v=4.6.3') format('truetype'), url('fonts/Fontawesome/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}