.bloc-checkout {
  margin-top: 50px;
  font-size: 1rem;
  font-family: 'Gotham-Book';

  h3 {
    font-family: 'Gotham-Book';
    color: @orange;
    font-size: 0.9rem;
    text-transform: uppercase;

    @media @smartphones {
      font-size: 0.7rem;
    }
  }

  .woocommerce .col2-set {
    display: flex;
    width: 100%;
    @media @smartphones, @tablets {
      flex-wrap: wrap;
    }

    .col-1 {
      width: 45%;
      float: none;
      flex: auto;
      @media @smartphones, @tablets {
        width: 100%;
        margin-bottom: 2rem;
      }
    }
    .col-2 {
      width: 50%;
      float: none;
      flex: auto;
      @media @smartphones, @tablets {
        width: 100%;
      }
    }
  }

  textarea,
  input[type='tel'],
  input[type='text'],
  input[type='email'],
  input[type='password'] {
    padding: 0.3rem 0.2rem;
    font-size: 0.8rem;
    line-height: 1.1rem;
    font-family: 'Gotham-Book';
  }

  .woocommerce-form.woocommerce-form-login.login {
    position: relative;
    margin-top: 0.5rem;
    border-radius: 0;
    border: none;
    font-size: 0.8rem;
    background-color: lighten(@light-grey,15%);

    input[type='checkbox'] {
      margin: 0;
      // https://www.creativejuiz.fr/blog/tutoriels/personnaliser-aspect-boutons-radio-checkbox-css
    }
    input.button[type='submit'] {
      border-radius: 0;
      color: white;
      font-size: 1rem;
      border: 1px solid @orange;
      background-color: @orange;
      font-family: 'Gotham-Book';
      text-transform: uppercase;
      position: absolute;
      bottom: 20px;
      right: 20px;
    }
    p.lost_password {
      a {
        padding: 3px;
        color: @orange;
        font-size: 0.7rem;
        text-transform: uppercase;
      }
    }
  }

  .form-yeti-checkout {
    width: 95%;
    margin-top: 0.5rem;
    margin-right: 5%;
    padding: 0.5rem 0;
    position: relative;
    border-radius: 0;
    border: none;
    font-size: 0.8rem;
    background-color: lighten(@light-grey,15%);

    @media @smartphones, @tablets {
      width: 100%;
      margin-right: 0%;
    }

    p {
      width: 90%;
      float: none;
      margin-right: auto;
      margin-left: auto;

      input {
        border: none;
      }
    }
  }

  .cart-subtotal {
    display: none;
  }

  .shipping {
    display: none;
  }
  table.woocommerce-checkout-review-order-table {
    border: none;
    margin-top: 0.5rem;
    border-radius: 0;
    border-collapse: collapse;
    border-top: 1px solid @light-grey;
    border-bottom: 1px solid @light-grey;

    tr {
      border: none;

      td {
        border: none;
      }

      th {
        border: none;
      }
    }

    thead {
      display: none;
    }

    tbody {
      border: none;
      border-bottom: 1px solid white;

      tr:last-child {
        border-bottom: 1px solid @light-grey;
        margin-bottom: 1px;
      }
    }

    tfoot {
      border: none;

      &:before {
        content: '';
        width: 100%;
        height: 1px;
        display: block;
      }

      tr.order-total {
        border-top: 1px solid white !important;

        th, td {
          border-top: 1px solid @light-grey !important;
        }
      }
    }
  }

  .product-total {
    font-weight: bold;
  }

  .product-name {
    font-weight: bold;

    &:first-child {
      padding-top: 0.5rem;
    }

    &:last-child {
      padding-bottom: 0.5rem;
    }

    .variation {
      font-family: 'Gotham-Light';
      font-weight: normal;
      font-size: 0.7rem;
      display: block;
    }
  }

  .woocommerce-checkout-review-order #payment.woocommerce-checkout-payment {
    background: transparent;

    h3 {
      padding-bottom: 0.5rem;
      border-bottom: 1px solid @light-grey;
    }

    ul.payment_methods {
      border-color: @light-grey;
    }

    a {
      color: @orange;
    }
  }

  input#place_order {
    border-radius: 0;
    color: white;
    font-size: 1rem;
    border: 1px solid @orange;
    background-color: @orange;
    font-family: 'Gotham-Book';
    text-transform: uppercase;
    position: absolute;
    right: 0;
    bottom: -3rem;
  }

  /* THANKS YOU PAGE */

  h2.thankyou-notice {
    width: 100%;
    font-size: 2.7rem;
    color: @orange;
    text-align: center;
    text-transform: lowercase;
    font-family: 'ThirstyScriptRegular';
    margin-top: 6rem;
    margin-bottom: 2rem;

    @media @smartphones {
      font-size: 2rem;
    }

    &.notice-shipping {
      font-size: 2.4rem;
      font-family: 'ThirstyScriptLight';
      margin-top: 4rem;
      margin-bottom: 0.5rem;
      text-transform: none;
      @media @smartphones {
        font-size: 1.2rem;
      }
    }
  }

  p.picture-notice {
    display: block;
    font-family: 'Gotham-Book';
    color: @light-grey;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  p.under-notice {
    margin-bottom: 3rem;
  }
  p.adresse-notice {
    display: block;
    font-family: 'Gotham-Light';
    color: @light-grey;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 4rem;
  }

  table.bank_details {
    margin-top: 0.5rem;
    margin-bottom: 0.8rem;
    border-collapse: collapse;
    width: 100%;

    tr {
      font-family: 'Gotham-Light';
      font-size: 0.8rem;

      &:first-child {
        border-top: 1px solid @light-grey;
        border-bottom: 1px solid @light-grey;
      }
      @media @tablets {
        font-size: 0.8rem;
        border-top: 1px solid @light-grey;
        border-bottom: 1px solid @light-grey;
      }
      @media  @smartphones {
        font-size: 0.6rem;
        border-top: 1px solid @light-grey;
        border-bottom: 1px solid @light-grey;
      }

      th {
        width: 20%;
        text-align: center;
      }

      td {
        width: 20%;
        text-align: center;
        padding-top: 0.5rem;
        @media  @smartphones, @tablets {
          width: 60%;
        }
      }

    }
  }
  .woocommerce-order-details {

    h2 {
      font-family: 'Gotham-Book';
      color: @orange;
      font-size: 0.9rem;
      text-transform: uppercase;

      @media @smartphones {
        font-size: 0.7rem;
      }
    }

    table.woocommerce-table {
      width: 100%;
      border: none;
      margin-top: 0.5rem;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius:0;
      font-size: 0.8rem;
      border-top: 1px solid @light-grey;
      border-bottom: 1px solid @light-grey;
      border-collapse:separate;
      border-spacing: 1px;

      thead {
        display: none;
      }

      tr {
        border: none;

        td {
          border: none;
          &:last-child {
            text-align: right;
          }
          &.product-name {
            margin-bottom: 0.5rem;

            a {
              color: #000;
              font-size: 0.8rem;
              text-transform: uppercase;
              text-decoration: none;
            }
            ul.wc-item-meta {

              li {
                font-family: 'Gotham-Light';
                font-weight: normal;
                font-size: 0.7rem;
                display: block;
              }
              margin-bottom: 1rem;
            }
          }
        }
        &.row-shipping {
          border-top: 1px solid @light-grey;
          border-bottom: 1px solid white;
          th, td {
            border-top: 1px solid @light-grey;
            border-bottom: 1px solid @light-grey;
          }
          &:after {
            content: '';
            width: 100%;
            height: 1px;
            display: block;
          }
        }
        &.row-order_total {
          border-top: 1px solid @light-grey;
          font-weight: bold;
          th, td {
            border-top: 1px solid @light-grey;
          }
        }
        th {
          border: none;
        }
      }
    }
  }

  .form-row.place-order {
    position: relative;
    .back_to_cart {
      border-radius: 0;
      color: white;
      font-size: 1rem;
      border: 1px solid @orange;
      background-color: @orange;
      font-family: 'Gotham-Book';
      text-transform: uppercase;
      position: absolute;
      left: 0;
      bottom: -3rem;
      &:hover {
        background-color: @orange;
        border-color: @orange;
      }
    }
  }

  .group_btn {
    position: relative;
    width: 100%;
    padding-bottom: 2rem;

    a {
      display: block;
      text-decoration: none;
      top: -1rem;
      right: 0;
      position: absolute;

      input {
        cursor: pointer;
        color: @orange;
        border: 1px solid @orange;
        background-color: white;
        font-family: 'Gotham-Book';
        color: @orange;
        font-weight: bold;
        font-size: 0.7rem;
        text-decoration: none;
        text-transform: uppercase;
        padding: 0.5rem 0.5rem 0.25rem 0.5rem;
      }
    }
  }

  /* THANKS YOU PAGE - ELEMENT DISPLAY NONE */

  .woocommerce-notice.woocommerce-notice--success.woocommerce-thankyou-order-received {
    display: none;
  }

  .woocommerce-order-overview.woocommerce-thankyou-order-details.order_details {
    display: none;
  }

  .woocommerce-bacs-bank-details {
    display: none !important;

    .wc-bacs-bank-details-heading {
      display: none;
    }
    .wc-bacs-bank-details-account-name {
      display: none;
    }
    .wc-bacs-bank-details.order_details.bacs_details {
      display: none;
    }
  }

  .woocommerce-customer-details {
    display: none;
  }
}

.bloc-checkout .woocommerce-order-details table.woocommerce-table tr td.product-name {
  width: 50% !important;
}

@media @smartphones {
  .woocommerce-form.woocommerce-form-login.login .form-row {
    display: block;
    width: 100%;
    padding: 3px 0;
    margin-left: 0;
    margin-right: 0;
  }
}