footer {
  margin-top: 6rem;
  background-color: @orange;

  .wrapper {
    display: flex;
    flex-wrap: wrap;

    .col {
      display: flex;
      flex: auto;
      width: 33%;
      align-items: center;

      @media @smartphones {
        width: 100%;
      }

      &.col-1 {
        img {
          width: 70%;
          padding: 30px 0;
          @media only screen and (min-width: 736px) and (max-width: 1000px) {
            padding: 45px 0;
          }
          @media @smartphones {
            margin: 0 auto;
          }
        }
      }

      &.col-2 {
        p {
          width: 100%;
        }
      }

      &.col-3 {
        img {
          width: 25%;
          position: absolute;
          bottom: 16%;
          right: -5%;
          @media only screen and (min-width: 736px) and (max-width: 1000px) {
            width: 40%;
          }
          @media @smartphones {
            display: none;
          }
        }
        @media @smartphones {
          padding-bottom: 40px;
        }
      }

      p {
        font-family: 'Gotham-Light';
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #fff;

        a {
          color: #fff;
          text-decoration: none;
        }

        span {
          font-family: 'Gotham-Bold';
          text-transform: uppercase;
        }
      }
    }
  }
}