body {
  margin: 0;
  overflow-x: hidden;
  font-size: 18px;

  @media @tablets {
    font-size: 14px;
  }

  @media @smartphones {
    font-size: 12px;
  }

}

header,
div.content,
footer {
  width: 100%;
}

.wrapper {
  position: relative;
  width: 86%;
  margin: 0 auto;
  max-width: 1024px;

  @media @tablets {
    width: 90%;
  }

  @media @smartphones {
    width: 90%;
  }

}

#background-nav {
  top: 0;
  left: 0;
  z-index: 1000;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

nav.main {
  top: 0;
  right: 0;
  z-index: 1010 !important;
  position: fixed;
  display: block;
  width: 0;
  height: 100%;
  -webkit-box-shadow: -11px 0px 5px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: -11px 0px 5px 0px rgba(0,0,0,0.15);
  box-shadow: -11px 0px 5px 0px rgba(0,0,0,0.15);


  .fa-times {
    position: absolute;
    top: 30px;
    left: 40px;
    font-size: 2rem;
    color: @orange;
    z-index: 1100;
    cursor: pointer;
  }

  div.menu-primary-menu-container {
    width: 50vw;
    display: block;
    position: absolute;
    height: 100%;
    background-color: white;
    @media @smartphones {
      width: 70vw;
    }

    ul {
      margin-top: 8rem;
      width: 100%;
      list-style: none;

      li {
        width: 100%;
        border-bottom: 1px solid @light-grey;

        a {
          width: 100%;
          display: block;
          text-align: center;
          text-decoration: none;
          color: @orange;
          font-size: 1.5rem;
          font-family: 'ThirstyScriptLight';
          padding: 15px 0;
          &:hover {
            color: @grey;
            background-color: lighten(@light-grey,20%);
          }
        }

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}

header {
  top: 0;
  z-index: 900;
  position: fixed;
  overflow: visible;
  padding: 1rem 0 0 0;
  background-color: #fff;

  @media @smartphones {
    margin: 0px 0 2rem 0;
  }

  .wrapper {
    display: flex;
    flex-wrap: wrap;

    div:first-child {
      flex: auto;
      width: 80%;
      a {
        width: 100%;
        display: block;
        font-size: 2rem;
        font-family: 'ThirstyScriptLight';
        color: @orange;
        text-decoration: none;

        @media @smartphones {
          display: flex;
          flex-wrap: wrap;
        }
      }

      @media @smartphones {
        display: flex;
        flex-wrap: wrap;
      }

      span:first-child {
        font-size: 1.5rem;
        font-family: 'Gotham-Bold';
        text-transform: uppercase;
        margin-right: 10px;
        @media @smartphones {
          flex: auto;
          width: 100%;
          order: 2;
          display: block;
        }

      }

      span:last-child {
        @media @smartphones {
          flex: auto;
          width: 100%;
          order: 1;
          display: block;
        }
      }

      div.under-logo {
        font-size: 1.3rem;
        color: @grey;
        font-family: 'ThirstyScriptLight';
        @media @tablets-portrait {
          font-size: 1.1rem;
        }
        @media @smartphones {
          display: none;
        }
      }

    }
    div.group-nav {
      flex: auto;
      width: 20%;
      color: @orange;
      position: relative;

      i.fa {
        font-family: FontAwesome;
        cursor: pointer;
        position: absolute;
        right: 0;
        bottom: 1.3rem;
        font-size: 2.2rem;

        &.fa-times {
          display: none;
        }

        &.fa-user {
          color: @orange;
          right: 2.5rem;
          font-size: 2.1rem;
        }
      }
    }

  }
}