img {
  max-width: 100%;
}

#slider {

  width: 100%;
  position: relative;
  overflow: visible;
  margin-top: 20px;

  .triangle {
    top: 0;
    left: 0;
    z-index: 10;
    position: absolute;
    display : block;
    height : 0;
    width : 0;
    border-top : 109px solid #fff;
    border-right : 1024px solid transparent;
    overflow: hidden;
  }

  img.slider-deco {
    position: absolute;
    top: -25px;
    left: 5%;
    z-index: 50;
    width: 140px;

    @media @tablets-portrait {
      top: -40px;
      width: 120px;
    }
    @media @tablets-landscape {
      top: -28px;
      width: 130px;
    }
    @media @smartphones {
      top: -52px;
      width: 95px;
    }
    @media @smartphones-landscape {
      top: -32px;
      width: 100px;
    }

  }

  .slide {
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;

    @media @smartphones {
    }

    .slide-image {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;

      .slide-bg-gradient {
        width: 100%;
        height: 100%;
      }

    }

  }

  .slider-content {
    top: 15%;
    display: block;
    width: 100%;
    position: absolute;
    text-align: center;

    @media @smartphones {
    }

    h1 {
      font-family: 'Gotham-Bold';
      font-size: 7rem;
      color: #fff;
      //text-shadow: 2px 3px 3px rgba(100, 100, 100, 0.5);
      text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
      margin: 20px 0 0 0;
      text-transform: uppercase;
      &:after {
        content: '';
        display: block;
        margin: 0px auto;
        width: 8%;
        height: 10px;
        background-color: #fff;
        -webkit-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.3);
        box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.3);
      }

      @media @tablets-portrait {
        font-size: 4rem;
      }
      @media @tablets-landscape {
        font-size: 5rem;
      }
      @media @smartphones {
        font-size: 2rem;
      }

    }
    p {
      font-family: 'Gotham-Bold';
      font-size: 2.5rem;
      line-height: 2.6rem;
      color: #fff;
      text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
      margin: 1rem 0 1rem 0;
      text-transform: uppercase;
      @media @tablets-portrait {
        font-size: 1.8rem;
        line-height: 1.9rem;
      }
      @media @tablets-landscape {
        font-size: 2.3rem;
        line-height: 2.4rem;
      }
      @media @smartphones {
        font-size: 0.9rem;
        line-height: 1rem;
      }
    }
    a {
      display: block;
      padding: 0.6rem 1.4rem;
      width: 30%;
      border: 1px solid #fff;
      background-color: @orange;
      font-family: 'ThirstyScriptLight';
      font-size: 2rem;
      color: #fff;
      margin: 0 auto;
      text-decoration: none;
      -webkit-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.3);
      -moz-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.3);
      box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.3);

      @media @smartphones {
        font-size: 1rem;
      }

      &:hover {
        background-color: @light-grey;
      }

    }
  }

}

p.first-txt-home {
  width: 70%;
  display: block;
  margin: 2rem auto 0 auto;
  font-size: 1rem;
  line-height: 2rem;
  color: @grey;
  text-align: center;
  font-family: 'Gotham-Light';
  span.capital-txt {
    width: 80%;
    margin: 0 auto;
    display: block;
    font-size: 1.3rem;
    font-family: 'Gotham-Bold';
    text-transform: uppercase;
    color: @orange;
  }
}

.activities {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  article {
    flex: auto;
    width: 30.6%;
    display: flex;
    overflow: hidden;
    align-items: flex-end;
    margin-bottom: 25px;
    margin-right: 4%;
    background-size: cover;


    &:nth-child(3n) {
      margin-right: 0;
    }

    &:last-child {
      align-items: center;
      flex-wrap: wrap;
      background-color: @orange;

      a {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        align-items: center;
        text-decoration: none;
      }

      img {
        width: 25%;
        margin: 0 auto;
        display: block;
      }
      span {
        display: block;
        color: white;
        width: 100%;
        text-decoration: none;
        margin: 0;

        &:first-child {
          font-family: 'ThirstyScriptRegular';
          font-size: 1.3rem;
          width: 90%;
          padding: 10px 5% 0 5%;
          text-align: center;
          margin-top: -10px;
          margin-bottom: -15px;
        }
        &:last-child {
          font-family: 'Gotham-Bold';
          font-size: 1.8rem;
          text-align: center;
          text-transform: uppercase;
          margin-top: -15px;
        }
      }
    }

    @media @smartphones-landscape, @tablets-portrait {
      width: 46%;
      margin: 0 0 20px 0;
      &:first-child {
        margin-right: 0;
      }
      &:nth-child(2n){
        margin-left: 4%;
      }
      &:last-child {
        width: 100%;
        margin: 0;
      }
    }
    @media @smartphones-portrait {
      width: 100%;
      margin: 0 0 20px 0;
    }

    p {
      color: @grey;
      width: 100%;
      height: 3.5rem;
      display: flex;
      align-items: center;
      text-align: center;
      text-transform: lowercase;
      font-size: 1rem;
      line-height: 1.3rem;
      font-family: 'Gotham-Book';
      font-weight: bold;
      background-color: rgba(255, 255, 255, 0.9);

      @media @smartphones-landscape {
        font-size: 0.7rem;
        line-height: 0.8rem;
      }

      span {
        display: block;
        width: 90%;
        margin: 0 auto;
        strong {
          color: @orange;
          font-weight: bold;
        }
      }
    }

  }
}

p.hometxt {
  width: 100%;
  margin: 3rem 0 1.3rem 0;
  font-size: 1.8rem;
  line-height: 2rem;
  color: @grey;
  text-align: center;
  font-family: 'ThirstyScriptLight';

  strong {
    color: @orange;
  }

  span {
    display: block;
  }

  @media @smartphones {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }

}

section.events {
  width: 70%;
  margin: 0 auto 3rem auto;

  @media @smartphones {
    width: 100%;
  }

  article {
    text-align: center;
    margin-bottom: 1.5rem;
    font-family: 'Gotham-Book';
    font-size: 1rem;

    @media @smartphones {
      font-size: 0.9rem;
    }

    span.date {
      font-family: 'Gotham-Bold';
      font-size: 1.5rem;
      color: @orange;
      text-transform: uppercase;
      @media @smartphones {
        font-size: 1.2rem;
      }
    }

    h2 {
      font-family: 'ThirstyScriptLight';
      font-size: 1.8rem;
      color: @grey;
      font-weight: lighter;
      @media @smartphones {
        font-size: 1.5rem;
      }
    }

  }
}

section.super-yeti {
  display: flex;
  background-color: @blue-grey;
  width: 100%;
  postion: relative;
  margin-bottom: 160px;
  padding: 20px 0;

  @media @smartphones {
    width: 92%;
    padding: 20px 4%;
    margin-bottom: 50px;
  }

  div {
    flex: auto;

    &:first-child {
      width: 15%;
      @media @smartphones {
        display: none;
      }
    }
    &:last-child {
      width: 85%;
      color: white;
      text-align: center;
      @media @smartphones {
        width: 100%;
      }
    }
    img {
      width: 18%;
      position: absolute;
      bottom: 1rem;
      left: 3rem;
      @media @smartphones {
        display: none;
      }
    }
    a.button {
      display: block;
      padding: 10px 20px;
      width: 45%;
      border: 1px solid #fff;
      background-color: @orange;
      font-family: 'ThirstyScriptLight';
      font-size: 2rem;
      color: #fff;
      margin: 0 auto 40px auto;
      text-decoration: none;
      -webkit-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.3);
      -moz-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.3);
      box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.3);
      &:hover{
        background-color: @light-grey;
      }
      @media @smartphones {
        font-size: 1rem;
      }
    }
    p {
      font-size: 1.5rem;
      font-family: 'Gotham-Bold';
      text-transform: uppercase;
      margin-bottom: 2rem;

      @media @smartphones {
        font-size: 0.8rem;
      }

      &:first-child {
        font-family: 'Gotham-Light';
        margin-bottom: 20px;
      }

      &.small-txt {
        text-transform: none;
        font-size: 0.5rem;
        margin-bottom: 0;

        a {
          color: #fff;
        }
      }

    }
  }

}
h1 {
  font-size: 1.5rem;
  font-family: 'Gotham-Bold';
  margin-bottom: 1rem;
  color: @orange;
}

.terms-conditions {
  p {
    font-family: 'Gotham-Light';
    font-size: 1rem;
    strong {
      font-family: 'Gotham-Bold';
      color: @orange;
    }
    margin-bottom: 0.3rem;
  }
}
.nocomments {
  display: none;
}