/*

    *** MEDIA QUERIES LESS ***

    Path: theme/less/utility/media-queries-responsive.less
    Created on : 29 sept. 2016, 08:21:57
    Author     : MEO
*/

@tablets: ~"only screen and (min-width : 737px) and (max-width : 1280px)";
@tablets-portrait: ~"only screen and (min-width : 737px) and (max-width : 1280px) and (orientation : portrait)";
@tablets-landscape: ~"only screen and (min-width : 737px) and (max-width : 1280px) and (orientation : landscape)";

@smartphones: ~"only screen and (min-width: 320px) and (max-width: 736px)";
@smartphones-portrait: ~"only screen and (min-width: 320px) and (max-width: 736px) and (orientation : portrait)";
@smartphones-landscape: ~"only screen and (min-width: 320px) and (max-width: 736px) and (orientation : landscape)";

@device-smartphones: ~"only screen and (min-device-width: 320px) and (max-device-width: 736px)";
@device-smartphones-portrait: ~"only screen and (min-device-width: 320px) and (max-device-width: 736px) and (orientation : portrait)";
@device-smartphones-landscape: ~"only screen and (min-device-height: 320px) and (max-device-height: 736px) and (orientation : landscape)";

@smartphones-big: ~"only screen and (min-width: 580px) and (max-width: 736px)";
@smartphones-small: ~"only screen and (min-width: 320px) and (max-width: 520px)";