.account {
  padding-top: 4rem;

  h2 {
    width: 100%;
    color: @orange;
    font-size: 2.7rem;
    font-family: 'ThirstyScriptLight';
    border-bottom: 1px solid @orange;
    margin-bottom: 3rem;
    position: relative;

    img {
      right: 5%;
      bottom: 0;
      position: absolute;
      width: 15%;
    }
  }
  #customer_login {
    display: flex;

    h2 {
      display: none;
    }
    .u-column1.col-1 {
      float: none;
      width: 100%;
      padding: 0;
      form {
        position: relative;
        color: #000;
        border: none;
        border-radius: 0;
        margin: 0;
        font-family: 'Gotham-Light';
        background-color: lighten(@light-grey,15%);

        a {
          color: @orange;
        }
        input.woocommerce-Input.woocommerce-Input--text.input-text {
          font-family: 'Gotham-Light';
          font-size: 1rem;
          line-height: 1.2rem;
          padding: 0.2rem 0;
          color: #000;
        }
        input.woocommerce-Button.button {
          border-radius: 0;
          color: white;
          font-size: 1rem;
          border: 1px solid @orange;
          background-color: @orange;
          font-family: 'Gotham-Book';
          text-transform: uppercase;
          position: absolute;
          bottom: 20px;
          right: 20px;
        }
      }
    }
    .u-column2.col-2 {
      display: none;
      float: none;
    }
  }

  .woocommerce {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    color: @light-grey;
    font-size: 0.9rem;
    font-family: 'Gotham-Book';

    .woocommerce-message {
      display: block;
      width: 100%;
    }

    .woocommerce-MyAccount-navigation {
      width: 30%;
      flex: auto;

      ul {
        list-style: none;

        li {

          a {
            display: block;
            width: 100%;
            color: @light-grey;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 0.8rem;
            &:hover {
              color: @orange;
            }
          }

          &.woocommerce-MyAccount-navigation-link--dashboard {
            a {
              &:before {
                font-family: FontAwesome;
                content: '\f0e4';
                display: inline-block;
                margin-right: 5px;
                font-size: 0.8rem;
              }
            }
          }
          &.woocommerce-MyAccount-navigation-link--orders {
            a {
              &:before {
                font-family: FontAwesome;
                content: '\f07a';
                display: inline-block;
                margin-right: 5px;
                font-size: 0.8rem;
              }
            }
          }
          &.woocommerce-MyAccount-navigation-link--downloads {
            display: none;
            a {
              &:before {
                font-family: FontAwesome;
                content: '\f019';
                display: inline-block;
                margin-right: 5px;
                font-size: 0.8rem;
              }
            }
          }
          &.woocommerce-MyAccount-navigation-link--edit-address {
            a {
              &:before {
                font-family: FontAwesome;
                content: '\f015';
                display: inline-block;
                margin-right: 5px;
                font-size: 0.8rem;
              }
            }
          }
          &.woocommerce-MyAccount-navigation-link--edit-account {
            a {
              &:before {
                font-family: FontAwesome;
                content: '\f007';
                display: inline-block;
                margin-right: 5px;
                font-size: 0.8rem;
              }
            }
          }
          &.woocommerce-MyAccount-navigation-link--customer-logout {
            a {
              &:before {
                font-family: FontAwesome;
                content: '\f08b';
                display: inline-block;
                margin-right: 5px;
                font-size: 0.8rem;
              }
            }
          }
        }
      }
    }
    .woocommerce-MyAccount-content {
      width: 70%;
      flex: auto;

      a {
        color: @orange;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
.woocommerce {
  .woocommerce-error, .woocommerce-info, .woocommerce-message {
    width: 100%;
  }
  .woocommerce-ResetPassword {
    width: 100%;
    font-family: 'Gotham-Light';
    color: #000;

    .woocommerce-password-strength {
      color: #000;
    }

    .woocommerce-form-row {
      input.woocommerce-Button.button {
        border-radius: 0;
        color: white;
        font-size: 1rem;
        border: 1px solid @orange;
        background-color: @orange;
        font-family: 'Gotham-Book';
        text-transform: uppercase;
        margin-top: 1rem;
      }
    }
  }
}