.message {
  display: none;
  margin-top: 3rem;
}
section.shop {
  width: 100%;
  margin-top: 4rem;
  text-transform: uppercase;

  div {
    display: flex;
    width: 100%;
    margin: 0.55rem 0;

    p {
      flex: auto;
      width: 20%;
      display: block;
      font-size: 0.7rem;
      font-family: 'Gotham-Book';
      text-align: center;
      font-weight: normal;
    }

    @media @smartphones, @tablets {
      &.head-table {
        display: none;
      }
    }
  }
  table.product {
    width: 100%;
    border: 1px solid @light-grey;
    border-collapse: collapse;

    tr {
      width: 100%;

      &.mobile-table {
        &:first-child td{
          color: @orange;
        }
        &:last-child td {
          font-weight: bold;
        }
      }

      td {
        width: 20%;
        text-align: center;
        border: 1px solid @light-grey;
        padding: 1rem 0;
        font-size: 1rem;
        font-family: 'Gotham-Book';

        &:first-child {
          color: @orange;
          @media  @smartphones, @tablets {
            color: #000;
          }
        }

        &.qte {
          background-color: lighten(@light-grey,15%);

          div {
            width: 80%;
            margin: 0 auto;

            input {
              width: 50%;
              text-align: center;
              font-size: 1rem;
              font-family: 'Gotham-Book';
            }
            button {
              width: 20%;
              cursor: pointer;
              background-color: white;
              border: 2px solid @orange;
              color: @orange;
              font-size: 1rem;

              &:first-child {
                margin-right: 3%;
              }

              &:last-child {
                margin-left: 3%;
              }
            }
          }
        }
      }
    }
  }

  section.form-data-product {
    width: 100%;
    margin-bottom: 2rem;

    div {
      width: 100%;
      padding: 1rem 0;
      border-top: 1px solid @light-grey;
      background-color: lighten(@light-grey,15%);

      div {
        width: 95%;
        display: flex;
        margin: 0 auto;
        padding: 0;
        border: none;

        @media  @smartphones, @tablets {
          width: 100%;
          flex-wrap: wrap;
        }

        div {
          display: flex;
          width: 50%;
          @media  @smartphones, @tablets {
            width: 90%;
            flex-wrap: wrap;
            margin: 0 auto;
          }

          label {
            flex: auto;
            width: 15%;
            display: block;
            font-size: 0.8rem;
            font-family: 'Gotham-Light';
            text-transform: none;
            @media  @smartphones, @tablets {
              width: 100%;
            }
          }

          input {
            flex: auto;
            width: 80%;
            &.error {
              border: 1px solid @orange;
            }
            @media  @smartphones, @tablets {
              width: 100%;
            }
          }

          &:first-child {
            input {
              margin-right: 5%;
              @media  @smartphones, @tablets {
                margin-right: 0%;
              }
            }
          }
        }
      }
    }
  }

  section.form-data-product-kid {
    width: 100%;
    margin-bottom: 2rem;

    div {
      width: 100%;
      padding: 1rem 0;
      border-top: 1px solid @light-grey;
      background-color: lighten(@light-grey,15%);

      div {
        width: 95%;
        display: flex;
        margin: 0 auto;
        padding: 0;
        border: none;

        @media  @smartphones, @tablets {
          width: 90%;
          flex-wrap: wrap;
        }

        div {
          display: flex;
          width: 33%;

          @media  @smartphones, @tablets {
            width: 100%;
            flex-wrap: wrap;
          }

          label {
            flex: auto;
            width: 25%;
            display: block;
            font-size: 0.8rem;
            font-family: 'Gotham-Light';
            text-transform: none;
            @media  @smartphones, @tablets {
              width: 100%;
            }
          }

          input {
            flex: auto;
            width: 70%;
            &.error {
              border: 1px solid @orange;
            }
            @media  @smartphones, @tablets {
              width: 100%;
            }
          }

          &:first-child {
            input {
              margin-right: 5%;
              @media  @smartphones, @tablets {
                margin-right: 0%;
              }
            }
          }

          &:last-child {
            position: relative;

            label {
              width: 45%;
              margin-left: 5%;
              @media  @smartphones, @tablets {
                width: 100%;
                margin-left: 0%;
              }
            }
            input {
              cursor: pointer;
              width: 50%;
              &.error {
                border: 1px solid @orange;
              }
              @media  @smartphones, @tablets {
                width: 100%;
              }
            }
            i.fa {
              top: 4px;
              right: 5px;
              color: @light-grey;
              font-size: 0.8rem;
              position: absolute;
            }
          }
        }
      }
    }
  }

  div.duplicator-form {
    display: none;
  }

  div.total-cart {
    width: 100%;
    display: flex;
    padding: 1rem 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;

    p {
      width: 80%;
      text-align: left;
      font-family: 'Gotham-Bold';
      font-size: 1rem;
      text-transform: uppercase;
      @media @smartphones {
        width: 70%;
        font-size: 0.7rem;
      }

      &:last-child {
        width: 20%;
        text-align: center;
        @media @smartphones {
          width: 30%;
        }
      }
    }
  }

  p.informations {
    width: 100%;
    font-family: 'Gotham-Light';
    font-size: 0.65rem;
    line-height: 0.7rem;
    color: @light-grey;
    text-transform: none;
  }

  div.bottom-panel {
    width: 100%;
    display: flex;
    margin-top: 2rem;
    @media @smartphones {
      flex-wrap: wrap;
    }

    p {
      flex: auto;
      width: 60%;
      margin-right: 15%;
      color: @light-grey;
      text-transform: none;
      text-align: left;
      @media @tablets-portrait {
        margin-right: 10%;
      }
      @media @smartphones {
        width: 100%;
        text-align: center;
        margin-right: 0%
      }
    }
    button {
      flex: auto;
      width: 25%;
      color: white;
      text-align: center;
      font-size: 1.1rem;
      font-family: 'Gotham-Book';
      text-transform: uppercase;
      background-color: @orange;
      border: none;
      padding: 0.2rem 0;
      cursor: pointer;
      @media @tablets-portrait {
        width: 30%;
      }
      @media @smartphones {
        width: 100%;
        padding: 0.8rem 0;
        margin-top: 1rem;
      }
    }
  }

}