#slider {

  width: 100%;
  position: relative;
  overflow: visible;
  margin-top: 20px;

  @media only screen and (min-width: 736px) and (max-width: 1000px) {
    margin-bottom: 40px;
  }

  @media @smartphones {
    margin-top: 50px;
  }
  @media @smartphones-big {
    margin-top: 100px;
  }

  .triangle {
    top: 0;
    left: 0;
    z-index: 10;
    position: absolute;
    display : block;
    height : 0;
    width : 0;
    border-top : 109px solid #fff;
    border-right : 1024px solid transparent;
    overflow: hidden;
  }

  img.slider-deco {
    position: absolute;
    top: -25px;
    left: 5%;
    z-index: 50;
    width: 140px;
  }

  .slide {
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;

    @media @smartphones {

    }

    .slide-image {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;

      .slide-bg-gradient {
        width: 100%;
        height: 100%;
      }

    }

  }

  .slider-content {
    top: 15%;
    display: block;
    width: 100%;
    position: absolute;
    text-align: center;

    h1 {
      font-family: 'Gotham-Bold';
      font-size: 95px;
      color: #fff;
      //text-shadow: 2px 3px 3px rgba(100, 100, 100, 0.5);
      text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
      margin: 20px 0 0 0;
      text-transform: uppercase;
      &:after {
        content: '';
        display: block;
        margin: 0px auto;
        width: 8%;
        height: 10px;
        background-color: #fff;
        -webkit-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.3);
        box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.3);
        @media @smartphones {
          width: 10%;
          height: 5px;
        }
      }
      @media only screen and (min-width: 736px) and (max-width: 1082px) {
        font-size: 65px;
      }
      @media @smartphones {
        font-size: 45px;
      }
      @media @smartphones-small {
        font-size: 40px;
      }
    }
    p {
      font-family: 'Gotham-Bold';
      font-size: 40px;
      line-height: 45px;
      color: #fff;
      text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
      margin: 15px 0 15px 0;
      text-transform: uppercase;
      @media only screen and (min-width: 736px) and (max-width: 1082px) {
        font-size: 30px;
        line-height: 32px
      }
      @media @smartphones {
        font-size: 24px;
        line-height: 25px;
      }
      @media @smartphones-small {
        font-size: 18px;
        line-height: 20px;
      }
      @media only screen and (min-width: 320px) and (max-width: 450px) {
        font-size: 15px;
        line-height: 17px;
      }
    }
    a {
      display: block;
      padding: 10px 20px;
      width: 45%;
      border: 1px solid #fff;
      background-color: @orange;
      font-family: 'ThirstyScriptLight';
      font-size: 35px;
      color: #fff;
      margin: 0 auto;
      text-decoration: none;
      -webkit-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.3);
      -moz-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.3);
      box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.3);
      @media only screen and (min-width: 736px) and (max-width: 1082px) {
        font-size: 25px;
      }
      @media @smartphones {
        font-size: 18px;
        padding: 5px 10px;
      }
      @media @smartphones-small {
        font-size: 16px;
      }
      @media only screen and (min-width: 320px) and (max-width: 450px) {
        width: 30%;
      }
    }
  }

}