.step {
  margin-top: 4rem;
  width: 100%;

  ul {
    width: 80%;
    display: flex;
    list-style: none;
    margin: 0 auto;

    @media @smartphones-portrait {
      width: 100%;
    }

    li {
      width: 30%;
      position: relative;
      text-transform: uppercase;
      color: @light-grey;
      font-family: 'Gotham-Bold';

      a {
        top: 0;
        left: 0;
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        display: block;
      }

      @media @smartphones-portrait {
        width: 32%;
      }

      &:first-child {
        margin-right: 5%;
        @media @smartphones-portrait {
          margin-right: 2%;
        }
      }

      &:last-child {
        margin-left: 5%;

        @media @smartphones-portrait {
          margin-left: 2%;
        }
        span {
          &:first-child {
            &:after {
              display: none;
              content: '';
              width: 120%;
              height: 1px;
              border-top: 2px dashed @light-grey;
              position: absolute;
              top: 50%;
              right: -127%;
            }
          }
        }
      }

      span {
        width: 100%;
        display: block;
        position: relative;
        text-align: center;

        &:first-child {
          width: 45%;
          display: flex;
          align-items: center;
          font-size: 3rem;
          border: 2px solid @light-grey;
          border-radius: 200px;
          margin: 0 auto 20px auto;

          @media @smartphones-portrait {
            width: 60%;
            font-size: 1.5rem;
          }

          &:after {
            content: '';
            width: 150%;
            height: 1px;
            border-top: 2px dashed @light-grey;
            position: absolute;
            top: 50%;
            right: -155%;

            @media @smartphones-portrait {
              width: 75%;
              right: -76%;
            }
          }

          p{
            display: block;
            width: 100%;
            text-align: center;
            padding-top: 5px;
          }
        }
        &:last-child {
          width: 100%;
          font-size: 1rem;
          text-align: center;

          @media @smartphones-portrait {
            font-size: 0.6rem;
          }
        }
      }

      &.active {
        span {
          color: @orange;
          border-color: @orange;
        }
      }
    }
  }
}